
body {
    display: block;
    margin: 0px;
    background: #0e1414;
}

@font-face {
    font-family: "Open Sans";
    src: url("./assets/OpenSans/OpenSans-Light.ttf");
}

.open-sans {
    font-family: "Open Sans";
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color:white;
}

.container {
    display: flex;
    position: absolute;
    width: 100%;
    flex-direction: column;
    .content {
        display: flex;
        position: relative;
        align-self: center;
        width: 85%;
        height: 100%;
    }
}