<template>
  <div class="content-modal" @click="close()">
      <div class="modal">
        <img :src="image" alt="">
      </div>     
  </div>
</template>
<script>
export default {
  name: 'ModalImage',
  props: ["image"],
  methods: {
    close() {
      this.$parent.enableModal = false;
    },
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
    .content-modal {
        position: fixed;
        z-index: 1;
        display: flex;
        justify-content: center;
        left: 0;
        align-items: center;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: #00000042;
        background-color: rgba(0, 0, 0, 0.83);
        .modal {
           
            display: flex;
            padding: 20px;
            justify-content: center;
            width: 86%;;
            img {
                display: flex;
                position: relative;
                max-width: 300px;
            }
        }
    }
</style>