<template>
  <div class="content-top content">
    <div class="left">
      <div class="img-left">
        <img :src="getImgUrl(images[0])" alt="" @click="showModal(getImgUrl(images[0]))">
      </div>
      <div class="img-right">
        <template v-for="item in 2" :key="item">
          <div>
            <img :src="getImgUrl(images[item])" alt="" @click="showModal(getImgUrl(images[item]))">
          </div>
        </template>
      </div>
    </div>
    <div class="right">
      <template v-for="i in content" :key="i">
        <span>{{i.title}}</span>
        <p>{{i.description}}</p>
      </template>
    </div>    
  </div>
</template>

<script>

export default {
  name: 'ContentPage1',
  data() {
    return {
      content: [
        {
          title: "ANSWER YOUR BODY'S NEEDS",
          description: `The way ingredients are sourced affects the way we nourish our bodies. 
          Author Mark Schatzer believs our body naturally develops an appetite for the foods 
          and nutrients it needs to be healthy, but that artificial flavoring are getting in 
          the way. This can be reversed by focusing on high-quality ingredients and being 
          mindful as your appetite guides you to consume according to your body's needs.`,
        },
        {
          title: "BE MINDFUL",
          description: "Sourcing local or organic food is a good way to start being more mindful about what you're cooking and eating."
        }
      ],
      images: ["Image-01-2x","Image-02-2x","Image-03-2x"]
    }
  },
  methods: {
    getImgUrl(pic) {
      return require('../../assets/component-01/'+pic+'.jpg')
    },
    showModal(val) {
      this.$parent.enableModal = true;
      this.$parent.modal_image = val;
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
  .content-top {
    margin-top:10%;
    .left{      
      display: flex;
      width: 60%;
      .img-left {
        width: 50%;
        img {
          max-width: 100%;
        }
      }
      .img-right {
        width: 55%;;
        img {
          max-width: 90%;
          margin: 0px 0 17px 16px;
        }
      }
    }   
    
    .right {
      display: flex;
      width: 40%;
      text-align: left;
      flex-direction: column;
      margin-left: 17px;
      span:nth-child(1) {
        font-size: 30px;
        border-bottom: solid 1.5px;
        padding-bottom: 12px
      }
      span:nth-child(3) {
        font-size: 15px;
        font-weight: 600;
        color: rgb(204 20 47); 
      }      
      p {
        line-height: 2;
        width: 340px;
      }
      p:nth-child(2) {
        font-size: 17px;            
      }
      p:nth-child(4) {
        font-weight: 600;
      }
    }
  }
  @media screen and (max-width: 800px) {
    .content {
      width: 80% !important;
    }  
    .content-top {
      flex-direction: column;
      .left {
        width: 100%;
      }
      .right {
        width: 100%;
        margin-left: 0px;
        p {
          width: 500px;
        }
      }
    }
  }

  @media screen and (max-width: 640px) {
    .content {
      width: 90% !important;
    }    
    .content-top {
      
      .left {
        width: 100%;
      }
      .right {
        width: 100%;
        p {
          width: 378px;
        }
        
      }
    }
  }

  @media screen and (max-width: 400px) {
    .content-top {
      .right {
        p {
          line-height: 2;
          width: 290px;
        }
      }
    }
  }

    @media screen and (max-width: 320px) {
    .content-top {
      .right {
        p {
          line-height: 2;
          width: 200px;
        }
      }
    }
  }
</style>
