<template>
  <div class="content-bottom content">
    <span class="title">{{title}}</span>
    <div class="all-latest-content">
      <template v-for="item in content" :key="item">
        <div class="items" @click="anchorTagClicked(item)">
          <img :src="getImgUrl(item.image)" alt="" >    
          <span>{{item.title}}</span>      
          <p>{{item.description}}</p>
          <span>{{readMore}}</span>
        </div>
      </template>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ContentPage2',
  components: {
    
  },
  data() {
    return {
      title: "ALL THE LATEST FROM AEG",
      readMore: "READ MORE",
      content: [
        {
          title: "Summer Lunch Menu By Mark Best",
          description: `AEG ambasador Mark Best's summer eats are guaranteed to help 
          you make the most of the warmer weather and entertaining at home.`,
          image:"Image-01-2x"
        },
        {
          title: "A Traditional Christmas Eve, Mark Best Style",
          description: `One of Australias's best chefs and AEG ambassador, Mark Best, 
          shares his favourite Christmas Eve menu which is sure to impress your guest.`,
          image:"Image-02-2x"
        },
        {
          title: "Taking Taste Further",
          description: `This exclusive cookbook gives you all the know-how you need. 
          We've designed it to make sure you get most out of our products - and the best 
          out of your food.`,
          image:"Image-03-2x"
        }
       
      ]
    }
  },
  methods: {
    getImgUrl(pic) {
      return require('../../assets/component-02/'+pic+'.jpg')
    },

    anchorTagClicked(val) {
      console.log("User Clicked: \n", val.title)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
  .content-bottom {
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
    .title{
      display: flex;
      width: 100%;
      justify-content: center;
      letter-spacing: 2px;
      font-size: 41px;
      margin-top: 16%;
      margin-bottom: 5%;
    }
    .all-latest-content {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      justify-content: center;
      align-self: center;
      .items {
        display: flex;
        flex-direction: column;
        width: 411px;
        margin: 5px 5px 10% 5px;
        text-align: left;  
        cursor: pointer;  
        span {
          font-size: 18px;
          font-weight: 600;
        }
        span:nth-child(4) {
          font-size: 15px;
          border-bottom: 1px solid rgb(207 20 48);
          width: 83px;
          padding-bottom: 7px;
        }
        p{
          font-size: 15px;
          line-height: 2;
          color:rgb(162 163 163);
        }
        img {
          margin-bottom: 8%;
          width: 400px;
          border-bottom: 4px solid rgb(207 20 48);
        }

        img:nth-child(1):before{
          content: "";
          display: inline-block;
          width: 538px;
          margin-bottom: 16px;
          height: 1.5px;
          margin-right: 5px;
          background: #d8d8d8;
        }
        
      }
    }
  }

  @media screen and (max-width: 600px) {
        
      .all-latest-content {
        align-self: center;
        .items {
          width: 349px;
          img {
            width: 350px !important;
          }
        }
      }
  }

  @media screen and (max-width: 370px) {
    .all-latest-content {
      .items {
        img {
          width: 290px !important;
        }
      }
    }
  }
</style>
