<template>
  <div class="container open-sans"> 
    <content-page-top />
    <content-page-bottom />
    <modal v-if="enableModal" :image="modal_image"/>
  </div>
</template>

<script>
import ContentPageTop from './content/ContentPageTop';
import ContentPageBottom from './content/ContentPageBottom';
import Modal from './popups/Modal';
export default {
  name: 'Main-Container',
  components: {
    ContentPageTop,
    ContentPageBottom,
    Modal
  },
  data() {
    return {
      enableModal: false,
      modal_image: null,
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">

</style>
