<template>
  <container />
</template>

<script>
import Container from './components/Container';
export default {
  name: 'App',
  components: {
    Container
  }
}
</script>

<style lang="scss">
  // Import Main styles for this application
  @import "assets/scss/style";
</style>
